* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 218, 218);
    overflow: hidden;
}

.container {
    max-width: 1000px;
    height: calc(100vh - 90px);
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 70px;
    overflow: scroll;
}


.message1,
.message2 {
    max-width: 60%;
    //display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    //position: relative;
    clear: both;

    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-left: 1px solid rgba(128, 128, 128, 0.5);

    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
}

.message1 {
    float: left;
    background: white;
}
.message2 {
    float: right;
    background: rgb(72, 177, 72);
    //text-align: right;
}

.textbox {
    background-color: rgb(218, 218, 218);
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 10px;
}

input {
    outline: none;
    width: 100%;
    border-radius: 15px;
    margin-right: 10px;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

button {
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: green;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 45%;
}

